/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 1em;
  }
  
  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a.active {
    font-weight: bold;
  }
  
  button {
    background-color: #ff4b5c;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ff1c3c;
  }