<div class="container">
  
  <div class="search-bar">
    <input [(ngModel)]="searchType" placeholder="Enter Pokémon type" (keyup.enter)="getType()" />
    <button (click)="getType()">Search Type</button>
  </div>
  <div *ngIf="errorMessageType" class="error-message">{{ errorMessageType }}</div>
  <div *ngIf="type.name" class="cards-container">
    <div *ngFor="let pokemon of paginatedPokemonDetails" class="card">
      <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
      <div class="card-content">
        <h4>{{ pokemon.name }}</h4>
        <p><strong>Height:</strong> {{ pokemon.height * 10 }} centimeters</p>
        <p><strong>Weight:</strong> {{ pokemon.weight / 10 }} kilograms</p>
        <p><strong>Types:</strong></p>
        <ul>
          <li *ngFor="let type of pokemon.types">
            {{ type.type.name }}
          </li>
        </ul>
        <p><strong>Abilities:</strong></p>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">
            {{ ability.ability.name }} (Hidden: {{ ability.is_hidden }})
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= pokemonDetails.length">Next</button>
  </div>

  <br>

  <div class="search-bar">
    <input [(ngModel)]="searchName" placeholder="Enter Pokémon name" (keyup.enter)="getUser()" />
    <button (click)="getUser()">Search Pokémon</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="user.species" class="card">
    <img *ngIf="user.sprites" [src]="user.sprites.front_default" alt="{{ user.forms[0].name }}" />
    <div class="card-content">
      <h3>{{ user.species.name }}</h3>
      <p><strong>Height:</strong> {{ user.height * 10 }} centimeters</p>
      <p><strong>Weight:</strong> {{ user.weight / 10 }} kilograms</p>
      <p><strong>Types:</strong></p>
      <ul>
        <li *ngFor="let type of user.types">
          {{ type.type.name }}
        </li>
      </ul>
      <p><strong>Abilities:</strong></p>
      <ul>
        <li *ngFor="let ability of user.abilities">
          {{ ability.ability.name }} (Hidden: {{ ability.is_hidden }})
        </li>
      </ul>
      <p><strong>Cries:</strong></p>
      <ul>
        <li><a href="{{ user.cries.latest }}" target="_blank">Latest Cry</a></li>
        <li><a href="{{ user.cries.legacy }}" target="_blank">Legacy Cry</a></li>
      </ul>
    </div>
  </div>
</div>