<div class="container">
  <div class="search-bar">
    <input [(ngModel)]="searchName" placeholder="Enter Pokémon name" (keyup.enter)="getUser()" />
    <button (click)="getUser()">Search Pokémon</button>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div class="cards-container">
    <div *ngIf="user.forms" class="card">
      <h3>{{ user.species.name }}</h3>
      <img *ngIf="user.sprites" [src]="user.sprites.front_default" alt="{{ user.forms[0].name }}" />
      <p><strong>Height:</strong> {{ user.height * 10 }} centimeters</p>
      <p><strong>Weight:</strong> {{ user.weight / 10 }} kilograms</p>
      <p><strong>Types:</strong></p>
      <ul>
        <li *ngFor="let type of user.types">
          {{ type.type.name }}
        </li>
      </ul>
      <p><strong>Abilities:</strong></p>
      <ul>
        <li *ngFor="let ability of user.abilities">
          {{ ability.ability.name }} (Hidden: {{ ability.is_hidden }})
        </li>
      </ul>
      <p><strong>Cries:</strong></p>
      <ul>
        <li><a href="{{ user.cries.latest }}" target="_blank">Latest Cry</a></li>
        <li><a href="{{ user.cries.legacy }}" target="_blank">Legacy Cry</a></li>
      </ul>
      <hr>
    </div>

    <div *ngIf="waifu.url" class="card">
      <img [src]="waifu.url" alt="waifu" />
    </div>
  </div>

  <div class="search-bar">
    <button (click)="getWaifu()">Search Waifu</button>
  </div>
</div>