<div *ngFor="let user of userList">
    <h3>{{ user.name }}</h3>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Address:</strong> {{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Website:</strong> <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></p>
    <p><strong>Company:</strong> {{ user.company.name }}</p>
    <p><strong>Catch Phrase:</strong> {{ user.company.catchPhrase }}</p>
    <p><strong>BS:</strong> {{ user.company.bs }}</p>
    <hr>
  </div>